{% extends 'base.html' %}

{% block content %}
<div class="row" >
<div class="container-fluid">
<div class="col-sm-8 col-sm-offset-2"">
<div class="thumbnail">
<br>
<h1 class="myfont" style="padding-left: 10px;">About us:</h1>
<br><br>

<p style="text-align: justify;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus turpis, tempus non velit ut, sagittis sollicitudin ex. Nulla tincidunt lorem ut libero iaculis accumsan. Pellentesque accumsan viverra magna non congue. Donec lacinia varius faucibus. Ut in sollicitudin erat, vel dapibus lectus. Fusce sit amet tellus egestas, vestibulum sem vitae, gravida felis. Nullam pretium tellus ac velit dignissim lobortis. Nullam vestibulum eget est eget scelerisque.
Donec eget mauris dignissim, pharetra mi vitae, dapibus leo. Ut mi lacus, rhoncus sit amet pellentesque pretium, tristique ac nunc. Proin non feugiat elit. Morbi eu ultricies augue. Suspendisse tincidunt commodo sodales. Etiam a metus eu dolor consequat dictum eu aliquet nunc. Nulla tincidunt ante et augue sodales, id convallis quam efficitur.
Nulla eget nisl consequat, rhoncus risus nec, porttitor diam. Praesent vitae odio ante. Fusce velit purus, elementum in sapien id, placerat ultricies lacus. Curabitur id mauris varius sem faucibus consectetur rutrum consectetur lectus. Maecenas viverra a turpis a feugiat. Vivamus euismod justo massa, at semper sem congue facilisis. Proin condimentum orci et fringilla tempor. Curabitur sapien quam, lacinia in lorem a, eleifend auctor diam. Duis et pulvinar leo. Mauris cursus volutpat ipsum, ut aliquet leo molestie nec. Donec maximus lacinia mauris, a consectetur velit. Pellentesque mattis risus at lectus consequat imperdiet. Sed ut nibh in mauris tempus vehicula. Duis ac mollis erat. Nullam malesuada, orci sit amet auctor blandit, ante sapien pellentesque metus, ac tristique eros tellus eget felis.
In tincidunt dui et ultrices euismod. Fusce porttitor, ante nec egestas cursus, eros libero maximus nibh, placerat vehicula tellus diam eu mi. Ut ut dapibus ipsum, quis rutrum nulla. Vestibulum gravida ornare mauris id accumsan. Nulla ultrices elit dui, eu suscipit massa tristique vitae. Donec porta libero consectetur justo lacinia, eget commodo eros pretium. Proin vitae ullamcorper dolor. Cras finibus risus egestas scelerisque sodales.
Suspendisse non leo facilisis, sodales lacus sed, congue tellus. Quisque viverra faucibus eros, a efficitur sem blandit vel. Curabitur vehicula molestie magna non mollis. Curabitur lectus est, ullamcorper sit amet tellus finibus, euismod tempus velit. Aenean vitae orci et nulla ultrices venenatis sit amet at tortor. Sed mattis porta sodales. Donec metus justo, maximus in tincidunt vitae, viverra in libero. Suspendisse luctus a lorem ut accumsan. Ut sodales, ligula sed gravida tincidunt, nibh velit vehicula arcu, at tempus neque arcu vitae ante. </p>
</div>
</div>
</div>
</div>
{% endblock content %}