{% extends 'base.html' %}





{% block content %}
<div class="row">
    <div class="col-md-9 col-sm-offset-2"">
        <div class="thumbnail">
        <br>
        <h1 class="myfont" style="padding-left: 5px;">Contact us</h1>
        <hr>
        <br>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <blockquote>
                    <p>
                    <i class="glyphicon glyphicon-earphone"></i><br>
                    <hr>
                    +38(050)839-21-11
                    <br>
                    +38(050)771-75-75
                    </p>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p><i class="glyphicon glyphicon-envelope"></i><br><hr>
                    lits-project@example.com
                    </p>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p><i class="glyphicon glyphicon-map-marker"></i><br><hr>
                    Headquarters:<br>1600 Amphitheatre Parkway<br>
                    Mountain View CA94043,<br>
                    United States</p>
                </blockquote>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock content %}